#box{
    color: aliceblue;
    background-color: blue;
}


.heading{
    color: red;
}

button{
    background-color: green;
}

p{
    text-align: right;
    text-decoration:underline;
    font-family:Arial;
}

#headingone{
    font-weight: normal;
}

#headingtwo{
    font-weight: bolder;
}

#headingthree{
    font-weight: lighter;
}